.DS_Store
ex4/a.out
ex3/44_ex3_321930489.zip
ex3/a.out
.vscode
ex4/build/Debug/Culture.o
ex4/build/Debug/Lentivirus.o
ex4/build/Debug/main.o
ex4/build/Debug/Mimivirus.o
ex4/build/Debug/outDebug
ex4/build/Debug/Papilloma.o
ex4/build/Debug/Virus.o
ex2/a.out
.gitignore
ex4/44_ex4_321930489.zip
ex2/44_ex2_321930489.zip
